<filter-textbox></filter-textbox>
<br />
<button *ngIf="toggle" (click)="whatever()">toggle this</button>
<button *ngIf="!toggle" (click)="whatever()">toggle that</button>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th (click)="sort('name')">Task</th>
      <th (click)="sort('description')">Description</th>
      <th (click)="sort('points')">Points</th>
      <th (click)="sort('completed')">Completed</th>
    </tr>
  </thead>
  <tr *ngFor="let todo of filteredTodos">
    <td>
      <a>
        {{ todo.task }}
      </a>
    </td>
    <td>{{ todo.description }}</td>
    <td>{{ todo.points }}</td>
    <td>{{ todo.completed }}</td>
  </tr>
  <tr *ngIf="filteredTodos && filteredTodos.length">
    <td colspan="2">&nbsp;</td>
    <td>
      {{ todosTotal }}
    </td>
  </tr>
  <tr *ngIf="!filteredTodos || !filteredTodos.length">
    <td colspan="4">No tasks to-do</td>
  </tr>
</table>
Number of Tasks To Do: {{ filteredTodos.length }} <br />
