<filter-textbox></filter-textbox>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tr>
        <td>
            <a>
                
            </a>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td colspan="4">No tasks to-do</td>
    </tr>
</table>
Number of Tasks completed:
<br />