<div style="border: 1px solid black">
  <h2 style="width: 100%; border: 1px solid black">Grocery List Component:</h2>
  <table style="border: 1px solid black">
    <tr>
      <th>
        <button>Add Item Component</button>
      </th>
      <th><button (click)="toggle()">Go Shop Component</button></th>
    </tr>
    <tr>
      <td>"Add Item component" takes user through the "add item flow";</td>
      <td>takes user to a shopping list of current grocery list</td>
    </tr>
    <tr>
      <td>
        check to see if item already in database, if so, ask how many needed
      </td>
      <td>make a copy of current grocery list, add slider/check box</td>
    </tr>
    <tr>
      <td>if not, user must input name, type, etc.</td>
      <td>
        as items added, cross off list. once done shopping put acquired items in
        the pantry, and the unacquired ones into a new shopping list
      </td>
    </tr>
  </table>
  <div style="border: 1px solid black">
    current list component:
    <table>
      <tr>
        <th>[amount]</th>
        <th>[food type]</th>
      </tr>
      <tr>
        <td>5</td>
        <td>apples</td>
      </tr>
      <tr>
        <td>1</td>
        <td>lb. fish</td>
      </tr>
      <tr>
        <td>3</td>
        <td>golden marmosets</td>
      </tr>
    </table>
  </div>
  <app-shopping *ngIf="booly"></app-shopping>
</div>
