<div style="border: 1px solid green">
  <h2 style="width: 100%; border: 1px solid green">Shopping List Component</h2>

  <div style="border: 1px solid green">
    shopping list component: (strike through items when in basket)
    <table>
      <tr>
        <th>[acquired?]</th>
        <th>[amount]</th>
        <th>[food type]</th>
      </tr>
      <tr>
        <td>[]</td>
        <td>5</td>
        <td>apples</td>
      </tr>
      <tr>
        <td>[]</td>
        <td>1</td>
        <td>lb. fish</td>
      </tr>
      <tr>
        <td>[]</td>
        <td>3</td>
        <td>golden marmosets</td>
      </tr>
    </table>
    <button>FINISHED SHOPPING</button>
    <p>
      when button clicked, acquired from list items go to pantry list,
      unacquired items get placed on a new shopping list.
    </p>
  </div>
</div>
