<div style="border: 1px solid blue">
  <h2>Plan My Dinner:</h2>
  <table>
    <tr>
      <th>dish name</th>
      <th>ingredient 1</th>
      <th>ingredient 2</th>
    </tr>
    <tr>
      <td>fish curry</td>
      <td>fish</td>
      <td>rice</td>
    </tr>
    <tr>
      <td>applesauce</td>
      <td>apples</td>
      <td>cinnamon</td>
    </tr>
  </table>
  <button>add meal</button>
  <p>
    click button, add new dish (name, plus ingredients), subtracts ingredients
    from pantry, when items run low red flag/adds to grocery list
  </p>
</div>
